*{
    margin: 0;
    padding: 0;
}
a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
}
#id1{
    grid-area: a1;
}
#id2{
    grid-area: a2;
}
#idk{
    grid-area: ak;
}
#id3{
    grid-area: a3;
}
#id4{
    grid-area: a4;
}
#art{
    grid-area: art;
}
#id5{
    grid-area: a5;
}
#id6{
    grid-area: a6;
}
#id7{
    grid-area: a7;
}
#id8{
    grid-area: a8;
}
#id9{
    grid-area: a9;
}
#id10{
    grid-area: a10;
}
#id11{
    grid-area: a11;
}
.Navbar{
    grid-area: hr;
}
.Navbar2{
    grid-area: hr2;
}
.top > div{
    font-family: 'Roboto', sans-serif;
    padding: 15px;
}
#idk{
    margin-bottom: 20px;
    text-align: center;
    font-weight: 900;
    font-size: 35px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
.top{
    display: grid;
    grid-template-areas: 'a1 a2 . . . ak ak ak . . . a3 a4'
                          'hr hr hr hr hr hr hr hr hr hr hr hr hr2'
                          '. . . art a5 a6 a7 a8 a9 a10 a11 . . ';
    
}
.p1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: #282828;
}
.p2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #282828;
}
#box{
    display: flex;
    width: 80%;
    height: 140px;
    border: 0px solid red;
    margin: auto;
    margin-top: 20px;
    justify-content: space-evenly;
    box-sizing: border-box;
    text-decoration: none solid rgb(40, 40, 40);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #FFFFFF;
    color: #282828;
    padding: 12px 12px 12px 12px;
    /* margin: -12px -12px -12px -12px; */
}
.box1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4{
    margin-top: 40px;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    color: #037362;
}
.h3{
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #656969;
    transform: none;
}
#container{
    display: flex;
    width: 80%;
    height: 450px;
    border: 1px solid red;
    margin: auto;
    padding: 0 0 60px 0;
    background-color: #FFFFFF;
}
#container>div{
    width: 50%;
    height: 475px;
    border: 1px solid blue;
    margin-top: 35px;
    background-color: #FFFFFF;
}
.img{
    width: 95%;
}
#container>div>h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #656969;
    margin: 0 0 18px 0;
}
.exit{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    text-decoration: underline solid rgb(3, 115, 98);
    color: #037362;
    line-height: 36px;
    padding: 18px 0 12px 0;
}
.p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #282828;
    margin-top: 20px;
}
#container2{
    display: flex;
    
}
.img-right{
    width: 30%;
    padding: 20px 35px ;
}

